h3 {
    margin-top: 20px;
}

form {
    display: flex;
    align-items: center;
}

select:hover:not(:disabled) {
    border-color: white;
}

input:hover:not(:disabled):not([type="submit"]) {
    border-color: white;
}

.banner {
    width: 1024px;
    height: 274px;
}

.banner:hover {
    cursor: pointer;
}

#btnClearMessage:hover {
    cursor: pointer;
}

.toggle.square .toggle-handle {
    border-radius: 0px;
}

.dropdown-menu {
    max-height: 50vh;
    overflow: scroll;
}